body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.clock {
    margin: auto;
}

.flip-clock-wrapper ul {
    background: #333;
    color: #fff;
    border-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
    background-color: #333;
    color: #fff;
    border-radius: 6px;
}
